.register-logo {
  a {
    b {
      vertical-align: middle;
    }
    img {
      margin: 0 10px;
    }
  }
}

.login-logo {
  a {
    b {
      vertical-align: middle;
    }
    img {
      margin: 0 10px;
    }
  } 
}

.my-fancy-style {
  background-color: yellow;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 2500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 2500ms ease-in;
}